
<h2> adi main</h2>

<div class="jumbotron">
  <h1>Ind</h1>
  <div style="display: inline-block">


  <a class="btn btn-lg btn-success" href="#">
    <i class="fa fa-flag fa-2x pull-left"></i> Font Awesome Flag<br>Version 4.7.0</a>

  </div>

</div>