


<div class="jumbotron">
  
    <div class="row" class="footest">
        <div class="col sm-4">
             <%= image_tag("gruper1.jpeg",
              {:style => "width:400px;"})
               %>
        </div>

        <div class="col sm-4">
        <h5> grupe up </h5>
        <h4> with </h4>
        <h1> gruepers </h1>
            <%= link_to new_user_registration_path(),
              class: "btn btn-lg btn-primary" do %>
        <i class="fa fa-thumbs-up fa-2x"></i> Sign up
             <% end %>
        </div>

    </div>

  <div class="row">
    
  </div>






</div>

<%= render 'shared/footerbig' %>