
<h2> adi main</h2>

<div style="display: inline-block">

  <%= link_to "arven v2 ", hello_world_path, class: "btn btn-lg btn-primary" %>
<%= link_to "arven ", arven_path, class: "btn btn-lg btn-primary" %>

</div>