


<div class="row">
  
    <div class="">
        <div class="">
             <%= image_tag("gruper1.jpg",
              {:style => "width:400px;"})
               %>
        </div>

        <div class="">
            <h5> grupe up </h5>
            <h4> with </h4>
            <h1> gruepers </h1>
            <%#= link_to new_user_registration_path(),
              class: "btn btn-lg btn-primary" do %> 
         <!-- <i class="fa fa-thumbs-up fa-2x"></i> Sign up -->
             <%# end %>
        </div>

    </div>

    <script >
        document.body.style.backgroundImage = "url('<%= image_url("gruper1.jpg") %>')"
        document.body.style.backgroundSize = 'contain'
    </script>






</div>

<%= render 'shared/footerbig' %>