
<h2> adi main</h2>

<div style="display: inline-block">

  <%= link_to "arven v2 react_rails", hello_world_path, class: "btn btn-lg btn-primary" %>
<%= link_to "arven v1 js/gon", arven_path, class: "btn btn-lg btn-primary" %>

</div>