
<h2> Hello </h2>

<%= link_to "signup", signup_path, class: "btn btn-lg btn-primary" %>
<%= link_to "login", login_path, class: "btn btn-lg btn-primary" %>
<%= link_to "logout", logout_path, class: "btn btn-lg btn-primary" %>
