
<div style="background-color:transparent">
  <h1> <%= FFaker::Food.herb_or_spice %> </h1>
  <video playsinline autoplay muted loop>

  <source src="/gruper1-flip-yellow.mp4" type="video/mp4">
</video> 
</div>

<video class="fullscreen" playsinline autoplay muted loop>

  <source src="/gruper1-flip-yellow.mp4" type="video/mp4">
</video> 