

<section class="map">
  <%= render 'shared/map' %>
</section>

<div id='arvenMap'></div>

<div id='status-container'>
  <div id='status'></div>
  <div id='feed'>  </div>
  <div id='feed2'>  </div>
</div>


