

<button id="refreshMap" class="btn btn-default btn-xs"> refresh map</button>
<!--<button id="getMarkers"> fetch lmarkers from server</button>-->
<!--<button id="setMarkers"> place lmarkers</button>-->
<!--<button id="removeMarkers"> clear markers</button>-->
<!--<button id="debugPrint"> debug </button>-->
<!--<button id="refreshPosition"> refresh position</button>-->
<!--<button id="toggleWatch"> set Watch</button>-->

<div id='arvenMap'></div>

<div id='status-container'>
  <div id='status'></div>
  <div id='feed1'>  </div>
  <div id='feed2'>  </div>
</div>


