<h1 class="box">
  <p>Static map banner</p>
</h1>

<a class="btn btn-lg btn-success" href="#">
  <i class="fa fa-flag fa-2x pull-left"></i> Font Awesome<br>Version 4.7.0</a>

<%= react_component("HelloWorldApp",
                    props: @hello_world_props,
                    prerender: false) %>

