// Place all the styles related to the arven controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#arvenMap{
  width:100vw;
  height:50vh;
}

#status-container {
  display: grid;
  grid-template-columns: auto 40vw;
  grid-template-rows: 25vw 20vw;
  grid-template-areas:
          "status feed1"
          "feed2 feed2";
  background:#eaeaea;
  min-height:35vh;
}
#status{
  grid-area: status;
  background: goldenrod;
  /*height:60px;*/
}

#feed1 {
  grid-area: feed1;
  background: #cec;
}
#feed2 {
  grid-area: feed2;
  background: #aea;
  overflow: auto;

  /* could remove autoscroll w jquery and thist would still work */
  //display: flex;
  //flex-direction: column-reverse;
}