//@import "bootstrap-sprockets";
@import "bootstrap";

$light-green: #9ca;
$col2: #9cd;

.container{
  background: $col2;
}

.box {
  background: $light-green;
}

/* jquery prototype */
.button.active {
  background: #ea0000;
  color: #fff;
}

.rpsImage{
  width:60px;
  height:60px;
  background: #f0f0f0;
}
/* boostrap */

.btn:visited{ color: #FFF}

/*  React stuff */
.mapBox{
  width:300px;
  height:200px;
}

.popup{
  background: #ada;
  padding:5px;
}