//@import "bootstrap-sprockets";
@import "bootstrap";

$light-green: #9ca;
$col2: #9cd;

.container{
  background: $col2;
}

.box {
  background: $light-green;
}


/*  React stuff */
.mapBox{
  width:300px;
  height:200px;
}

.popup{
  background: #ada;
  padding:5px;
}