//@import "bootstrap-sprockets";
@import "bootstrap";

$light-green: #9ca;
$col2: #9cd;

.container{
  background: $col2;
}

.box {
  background: $light-green;
}

/* jquery prototype */
.button.active {
  background: #ea0000;
  color: #fff;
}

.rpsImage{
  width:60px;
  height:60px;
  background: #f0f0f0;
}

.dump-error{
  background: #DaaA68;
}
.dump-success{
  background: #6bda6a;
}

/* boostrap */

.btn:visited{ color: #FFF}

/*  React stuff */
.mapBox{
  //margin: -40px;
  width:100vw;
  height:60vw;
  //width:300px;
  //height:200px;
}

.popup{
  background: #ada;
  padding:5px;
}